---
import SocialNetworks from "@/components/presentation/SocialNetworks.astro";
import { Icon } from "astro-icon/components";
---

<ul class="flex gap-5 mt-11">
  <li>
    <SocialNetworks href="https://github.com/Mayer-04" text="GitHub">
      <Icon name="github" slot="icon" class="size-5" />
    </SocialNetworks>
  </li>

  <li>
    <SocialNetworks
      href="https://www.linkedin.com/in/mayer-chaves-90116824b/"
      text="LinkedIn"
    >
      <Icon name="linkedln" slot="icon" class="size-5" />
    </SocialNetworks>
  </li>

  <li>
    <SocialNetworks href="mailto:mayerchaves10@gmail.com" text="Gmail">
      <Icon name="email" slot="icon" class="size-5" />
    </SocialNetworks>
  </li>
</ul>
