---
interface Props {
  href: string;
  text: string;
}

const { href, text } = Astro.props;
---

<a
  class="flex justify-center items-center gap-2 py-2 px-4 rounded-xl bg-gradient-100 border-2 border-mayer-100 hover:bg-mayer-200 transition"
  href={href}
  target="_blank"
  rel="noopener noreferrer"
>
  <slot name="icon" />
  {text}
</a>
