---

---

<article class="flex">
  <div>
    <h3 class="text-2xl">Aplicación del clima v2345</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas amet eum
      laborum sit saepe placeat natus provident? Ducimus quae saepe qui amet
      ipsa dolorem voluptas, quos, quam recusandae ratione fuga.
    </p>

    <div>
      <ul class="flex flex-wrap">
        <li>HTML</li>
        <li>CSS</li>
        <li>JavaScript</li>
        <li>Typescript</li>
      </ul>
    </div>

    <div class="flex">
      <!-- TODO: Icono de Github y link de la página -->
      <a href=""></a>
      <a href=""></a>
    </div>
  </div>

  <figure>
    <img src="https://picsum.photos/800/600" alt="image" />
  </figure>
</article>
