---
import { Icon } from "astro-icon/components";
---

<article class="flex flex-col gap-y-5 p-5 bg-gradient-100 rounded-2xl">
  <h3 class="text-xl font-semibold text-blue-300/95">
    Aplicación del clima v345
  </h3>

  <div class="flex justify-between items-center">
    <time class="text-sm text-zinc-500" datetime="2023-6-31"
      >31 de junio 2023</time
    >
    <div class="flex gap-1">
      <span>
        <a href="">
          <Icon name="github" slot="icon" class="size-5" />
        </a>
      </span>
      <span>
        <a href="">
          <Icon name="arrow" slot="icon" class="size-5" />
        </a>
      </span>
    </div>
  </div>

  <div class="">
    <span class="py-1 px-3 rounded-full bg-html text-xs">HTML</span>
    <span class="py-1 px-3 rounded-full bg-css text-xs">CSS</span>
    <span class="py-1 px-3 rounded-full bg-js text-xs">JavaScript</span>
    <span class="py-1 px-3 rounded-full bg-ts text-xs">TypeScript</span>
  </div>

  <figure>
    <img src="https://picsum.photos/800/600" alt="image" />
  </figure>
</article>
