---
import { Icon } from "astro-icon/components";
import ProjectsSection from "@/components/projects/ProjectsSection.astro";
---

<section class="max-w-3xl mx-auto p-14" id="projects">
  <h2 class="flex gap-3 text-3xl mb-8">
    <Icon name="code2" class="size-8" />
    Proyectos
  </h2>

  <main class="grid grid-cols-1 md:grid-cols-2 gap-5">
    <ProjectsSection />
    <ProjectsSection />
    <ProjectsSection />
    <ProjectsSection />
  </main>
</section>
