---
import { Icon } from "astro-icon/components";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<article
  class="col-span-5 p-5 bg-primary-gradient border border-mayer-100 rounded-xl"
>
  <h2 class="text-2xl font-semibold mb-5 text-blue-300/95 text-center">
    {title}
  </h2>

  <div class="grid grid-cols-3 gap-5">
    <div class="flex flex-col justify-center items-center">
      <Icon name="front-end/html" class="size-8" />
      <h3>HTML</h3>
    </div>

    <div class="flex flex-col justify-center items-center">
      <Icon name="front-end/css" class="size-8" />
      <h3>CSS</h3>
    </div>

    <div class="flex flex-col justify-center items-center">
      <Icon name="front-end/tailwindcss" class="size-8" />
      <h3>TailwindCSS</h3>
    </div>

    <div class="flex flex-col justify-center items-center">
      <Icon name="front-end/javascript" class="size-8" />
      <h3>JavaScript</h3>
    </div>

    <div class="flex flex-col justify-center items-center">
      <Icon name="front-end/typescript" class="size-8" />
      <h3>TypeScript</h3>
    </div>

    <div class="flex flex-col justify-center items-center">
      <Icon name="front-end/angular" class="size-8" />
      <h3>Angular</h3>
    </div>
  </div>
</article>
