---
interface Props {
  class?: string;
}
---

<article
  class=`${Astro.props.class} p-7 bg-gradient-100 border border-mayer-100 rounded-xl`
>
  <!-- TODO: Por mejorar -->
  <p class="text-pretty">
    Mayer Andres Chaves, Tengo 23 años, De Bogotá, Colombia, estoy aprendiendo
    Python
  </p>
</article>
