---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<article
  class="col-span-4 p-7 bg-primary-gradient border border-mayer-100 rounded-xl"
>
  <h3 class="text-2xl font-semibold mb-2 underline text-blue-300/95">
    {title}
  </h3>
  <!-- TODO: Por mejorar -->
  <p>
    Mayer Andres Chaves, Tengo 23 años, De Bogotá, Colombia, estoy aprendiendo
    Python
  </p>
</article>
