---
import { Icon } from "astro-icon/components";
interface Props {
  class?: string;
}
---

<article
  class=`${Astro.props.class} border border-mayer-100 p-5 bg-gradient-100 rounded-xl`
>
  <div class="flex justify-center items-center gap-2">
    <Icon name="location" slot="icon" class="size-5" />
    <span>Bogotá, Colombia</span>
  </div>
</article>
