---
import { Icon } from "astro-icon/components";
import BentoItem from "@/components/about/BentoItem.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<article
  class="col-span-4 p-5 bg-primary-gradient border border-mayer-100 rounded-xl"
>
  <h2 class="text-2xl font-semibold mb-6 text-emerald-300 text-center underline">
    {title}
  </h2>

  <div class="grid grid-cols-3 gap-5">
    <BentoItem>
      <Icon name="back-end/docker" slot="icon" class="size-8" />
      <h3 slot="technology">Docker</h3>
    </BentoItem>

    <BentoItem>
      <Icon name="back-end/node" slot="icon" class="size-8" />
      <h3 slot="technology">Node.js</h3>
    </BentoItem>

    <BentoItem>
      <Icon name="back-end/express" slot="icon" class="size-8" />
      <h3 slot="technology">Express</h3>
    </BentoItem>

    <BentoItem>
      <Icon name="back-end/mongodb" slot="icon" class="size-8" />
      <h3 slot="technology">MongoDB</h3>
    </BentoItem>

    <BentoItem>
      <Icon name="back-end/postgresql" slot="icon" class="size-8" />
      <h3 slot="technology">PostgreSQL</h3>
    </BentoItem>

    <BentoItem>
      <Icon name="back-end/prisma" slot="icon" class="size-8" />
      <h3 slot="technology">Prisma</h3>
    </BentoItem>
  </div>
</article>
