---
import AboutMe from "@/components/about/AboutMe.astro";
import Experience from "@/components/about/Experience.astro";
import AvailableForWork from "@/components/about/AvailableForWork.astro";
import FrontEnd from "@/components/about/FrontEnd.astro";
import BackEnd from "@/components/about/BackEnd.astro";
---

<section
  id="aboutMe"
  class="grid grid-cols-9 mx-auto max-w-3xl auto-rows-auto gap-4 p-14"
>
  <AboutMe class="col-span-4" title="Sobre mí" />

  <Experience
    class="col-span-5"
    title="Experiencia"
    year="Febrero 2019 - Enero 2020"
    company="Max Globo"
    description="Desarrollador de sitios web y mantenimiento de la plataforma."
  />

  <AvailableForWork class="col-span-9" />

  <FrontEnd class="col-span-5" title="Tecnologías Front-End" />
  <BackEnd class="col-span-4" title="Tecnologías Back-End" />
</section>
