---
import { Icon } from "astro-icon/components";
import BentoItem from "@/components/about/BentoItem.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<article
  class="col-span-5 p-5 bg-primary-gradient border border-mayer-100 rounded-xl"
>
  <h2
    class="text-2xl font-semibold mb-6 text-blue-300/95 text-center underline"
  >
    {title}
  </h2>

  <div class="grid grid-cols-3 gap-y-3">
    <BentoItem>
      <Icon name="front-end/html" slot="icon" class="size-8" />
      <h3 slot="technology">HTML</h3>
    </BentoItem>

    <BentoItem>
      <Icon name="front-end/css" slot="icon" class="size-8" />
      <h3 slot="technology">CSS</h3>
    </BentoItem>

    <BentoItem>
      <Icon name="front-end/tailwindcss" slot="icon" class="size-8" />
      <h3 slot="technology">TailwindCSS</h3>
    </BentoItem>

    <BentoItem>
      <Icon name="front-end/javascript" slot="icon" class="size-8" />
      <h3 slot="technology">JavaScript</h3>
    </BentoItem>

    <BentoItem>
      <Icon name="front-end/typescript" slot="icon" class="size-8" />
      <h3 slot="technology">TypeScript</h3>
    </BentoItem>

    <BentoItem>
      <Icon name="front-end/astro" slot="icon" class="size-8" />
      <h3 slot="technology">Astro</h3>
    </BentoItem>

    <BentoItem>
      <Icon name="front-end/angular" slot="icon" class="size-8" />
      <h3 slot="technology">Angular</h3>
    </BentoItem>
  </div>
</article>
