---
import Layout from "../layouts/Layout.astro";

const title = "Bienvenidos";
const description = "Esta es una descriptión";
---

<Layout title={title} description={description}>
  <main>
    <h1 class="text-orange-600">Hola mundo</h1>
  </main>
</Layout>
