---
import Layout from "@/layouts/Layout.astro";
const title = "Mi Portfolio";
const description = "Este es mi portafolio";
---

<Layout {title} {description}>
  <h1 class="text-center text-red-500 font-semibold text-2xl">Hola Mundo</h1>
</Layout>
