---
import Github from "@/icons/Github.astro";
import Gmail from "@/icons/Gmail.astro";
import Linkedln from "@/icons/Linkedln.astro";
---

<nav class="flex">
  <a href="https://www.linkedin.com/in/mayerchaves/">
    <Linkedln />
    LinkedIn
  </a>
  <a href="https://www.linkedin.com/in/mayerchaves/">
    <Github />
    Github
  </a>
  <a href="https://www.linkedin.com/in/mayerchaves/">
    <Gmail />
    Correo
  </a>
</nav>
