---
import Linkedln from "@/icons/Linkedln.astro";
import SocialNetworks from "./SocialNetworks.astro";
import Gmail from "@/icons/Email.astro";
import GitHub from "@/icons/GitHub.astro";
---

<ul class="flex gap-5 mt-11">
  <li>
    <SocialNetworks href="https://github.com/Mayer-04" text="GitHub">
      <GitHub slot="icon" class="size-6" />
    </SocialNetworks>
  </li>

  <li>
    <SocialNetworks
      href="https://www.linkedin.com/in/mayer-chaves-90116824b/"
      text="LinkedIn"
    >
      <Linkedln slot="icon" class="size-6" />
    </SocialNetworks>
  </li>

  <li>
    <SocialNetworks href="mailto:mayerchaves10@gmail.com" text="Gmail">
      <Gmail slot="icon" class="size-6" />
    </SocialNetworks>
  </li>
</ul>
