---
const navList = [
  { name: "Sobre mí", url: "/" },
  { name: "Experiencia", url: "#experience" },
  { name: "Tecnologías", url: "#technologies" },
  { name: "Proyectos", url: "#projects" },
  { name: "Contacto", url: "#contact" },
];
---

<header class="flex justify-center items-center w-full py-5">
  <figure class="size-14 rounded-full">
    <img class="w-full" src="/perfil.png" alt="Foto de perfil - Mayer" />
  </figure>
  <nav class="">
    {
      navList.map(({ name, url }) => (
        <a class="" href={url}>
          {name}
        </a>
      ))
    }
  </nav>
</header>
