---
import Logo from "@/components/Logo.astro";
import Code from "@/icons/Code.astro";

const navList = [
  { name: "Sobre mí", url: "/" },
  { name: "Proyectos", url: "#projects" },
  { name: "Contacto", url: "#contact" },
];
---

<header class="flex justify-center items-center w-full py-6 gap-14">
  <Logo>
    <h2 class="text-xl font-semibold" slot="title">Mayer</h2>
    <Code class="size-8" slot="icon" />
  </Logo>

  <nav class="flex justify-center items-center">
    {
      navList.map(({ name, url }) => (
        <a
          class="hover:bg-primary rounded-full py-1 px-3 transition-colors"
          href={url}
        >
          {name}
        </a>
      ))
    }
  </nav>
</header>
