---
import Html from "@/icons/front-end/Html.astro";
import Css from "@/icons/front-end/Css.astro";
import JavaScript from "@/icons/front-end/JavaScript.astro";
import TypeScript from "@/icons/front-end/TypeScript.astro";
import Vite from "@/icons/front-end/Vite.astro";
import AstroIcon from "@/icons/front-end/AstroIcon.astro";
import Svelte from "@/icons/front-end/Svelte.astro";
import Code from "@/icons/Code.astro";

const myInformation = [
  {
    name: "Mayer Andres Chaves.",
    age: "Tengo 23 años.",
    address: "De Bogotá, Colombia.",
    learning: "Aprendiendo actualmente",
  },
];
---

<section class="max-w-3xl mx-auto p-14" id="projects">
  <h2 class="flex gap-3 text-2xl">
    <Code class="w-6 h-6" />
    Proyectos
  </h2>
</section>

<!-- <article>
  <h3>Juego Preguntas</h3>
  <p>Esta es una aplicación de preguntas y respuestas en tiempo real.</p>
  <ul class="flex justify-center items-center gap-2">
    <li>
      <Html class="w-5 h-5" />
      HTML
    </li>
    <li>
      <Css class="w-5 h-5" />
      CSS
    </li>
    <li>
      <JavaScript class="w-5 h-5" />
      JavaScript
    </li>
  </ul>

  <img
    class="rounded-lg mb-3"
    src="/juego-preguntas.webp"
    alt="Juego Preguntas"
    loading="lazy"
  />
</article> -->
