---

---

<section class="grid grid-cols-2 max-w-3xl mx-auto gap-4 p-14" id="projects">
  <article class="">
    <a href="">
      <h3 class="text-3xl font-semibold">Weather App</h3>
      <img src="/aplicacion-clima.webp" alt="Aplicación Clima" loading="lazy" />
      <p>Esta es una aplicación de clima en tiempo real.</p>
      <ul class="flex">
        <li>React</li>
        <li>API</li>
        <li>Styled Components</li>
        <li>OpenWeather</li>
      </ul>
    </a>
  </article>

  <article class="">
    <a href="">
      <h3 class="text-3xl font-semibold">Conversor divisas</h3>
      <img
        src="/conversor-divisas.webp"
        alt="Conversor divisas"
        loading="lazy"
      />
      <p>Esta es una aplicación de divisas en tiempo real.</p>
      <ul class="flex">
        <li>TypeScript</li>
        <li>API</li>
        <li>Styled Components</li>
      </ul>
    </a>
  </article>

  <article class="">
    <a href="">
      <h3 class="text-3xl font-semibold">Juego preguntas</h3>
      <img src="/juego-preguntas.webp" alt="Juego Preguntas" loading="lazy" />
      <p>Esta es una aplicación de preguntas y respuestas en tiempo real.</p>
      <ul class="flex">
        <li>TypeScript</li>
        <li>API</li>
        <li>Styled Components</li>
        <li>Components</li>
      </ul>
    </a>
  </article>

  <article class="">
    <a href="">
      <h3 class="text-3xl font-semibold">Proyecto Weykman</h3>
      <img
        src="/portafolio-weykman.webp"
        alt="Portafolio Weykman"
        loading="lazy"
      />
      <p>Esta es una aplicación de portafolio en tiempo real.</p>
      <ul class="flex">
        <li>TypeScript</li>
        <li>TypeScript</li>
        <li>API</li>
        <li>Styled Components</li>
      </ul>
    </a>
  </article>

  <article class="">
    <a href="">
      <h3 class="text-3xl font-semibold">API Rick and Morty</h3>
      <img src="/rick-morty.webp" alt="API Rick and Morty" loading="lazy" />
      <p>Esta es una aplicación consumiendo la API de Rick and Morty.</p>
      <ul class="flex">
        <li>TypeScript</li>
        <li>TypeScript</li>
        <li>API</li>
        <li>Styled Components</li>
      </ul>
    </a>
  </article>
</section>
