---
import Git from "@/icons/Git.astro";
import Pnpm from "@/icons/Pnpm.astro";
import Vite from "@/icons/front-end/Vite.astro";
---

<article class="col-span-9 border p-5">
  <div class="flex justify-center items-center gap-7">
    <Git class="w-8 h-8" />
    <Pnpm class="w-8 h-8" />
    <Vite class="w-8 h-8" />
  </div>
</article>

<style>
  article {
    background: linear-gradient(
      30.6deg,
      rgba(124, 130, 177, 0.12) 28.69%,
      hsla(241, 41%, 62%, 0.3) 100%
    );
    border: 1px solid hsla(241, 41%, 62%, 0.3);
    border-radius: 12px;
  }
</style>
