---
import Logo from "@/components/header/Logo.astro";
import { Icon } from "astro-icon/components";
const añoActual = new Date().getFullYear();
---

<footer class="bg-gradient-100 rounded-t-md max-w-3xl mx-auto">
  <div
    class="container flex flex-col items-center justify-between py-4 px-5 mx-auto space-y-4 sm:space-y-0 sm:flex-row"
  >
    <a href="#">
      <Logo>
        <h2 class="text-xl font-semibold" slot="title">Mayer</h2>
        <Icon name="code" slot="icon" class="size-6" />
      </Logo>
    </a>

    <p class="text-sm">
      © Copyright {añoActual}. All Rights Reserved.
    </p>

    <div class="flex -mx-2">
      <a
        href="https://github.com/Mayer-04"
        class="inline-block mx-2 transition-colors duration-300 hover:text-blue-300/90"
        target="_blank"
        rel="noopener noreferrer"
      >
        <Icon name="github" class="size-5" />
      </a>

      <a
        href="https://www.linkedin.com/in/mayer-chaves-90116824b/"
        class="inline-block mx-2 transition-colors duration-300 hover:text-blue-300/90"
        target="_blank"
        rel="noopener noreferrer"
      >
        <Icon name="linkedln" class="size-5" />
      </a>

      <a
        href="https://twitter.com/MayerAndres04"
        class="inline-block mx-2 transition-colors duration-300 hover:text-blue-300/90"
        target="_blank"
        rel="noopener noreferrer"
      >
        <Icon name="x" class="size-5" />
      </a>
    </div>
  </div>
</footer>
