---
const añoActual = new Date().getFullYear();
---

<footer
  id="contact"
  class="shadow m-4 bg-primary-gradient border border-mayer-100 rounded-xl max-w-3xl mx-auto"
>
  <div
    class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between"
  >
    <span class="text-sm sm:text-center"
      >© {añoActual}
      <a href="#home" class="hover:underline">Mayer Andrés Chaves™</a>. All
      Rights Reserved.
    </span>
    <ul class="flex flex-wrap items-center mt-3 text-sm font-medium sm:mt-0">
      <li>
        <a href="#aboutMe" class="hover:underline me-4 md:me-6">About</a>
      </li>
      <li>
        <a href="mailto:mayerchaves10@gmail.com" class="hover:underline"
          >Contact</a
        >
      </li>
    </ul>
  </div>
</footer>
